Flask==0.12.2
Flask-RESTful==0.3.6
Jinja2==2.9.6
MarkupSafe==1.0
Werkzeug==0.12.2
aniso8601==1.2.1
argparse==1.2.1
click==6.7
itsdangerous==0.24
python-dateutil==2.6.0
pytz==2017.2
six==1.10.0
uWSGI==2.0.15
wsgiref==0.1.2
